<div class="container">
    <div class="manual">
        <div class="manual__header">
            <div class="manual__media">
                <img src="../media/manual/dvig.png" alt="">
            </div>
            <div class="manual__header-info">
                <div class="manual__title"><span>Модель</span> <span>QC380</span></div>
                <ul class="manual__header-list">
                    <li><span>SN</span> <span>201245639</span></li>
                    <li><span>Произведено</span> <span>01.02.2021</span></li>
                    <li><span>Продано</span> <span>06.04.2021</span></li>
                    <li><span>Отгружено</span> <span>08.04.2021</span></li>
                    <li><span>Договор</span> <span>036 от</span></li>
                    <li><span>Начало гарантии</span> <span>07.04.2021</span></li>
                    <li><span>Окончание гарантии</span> <span>07.04.2021</span></li>
                    <li><span>Комментарии</span><span>MA125, 3:1, гидравлический</span></li>
                </ul>
            </div>
        </div>
        <div class="manual__body">
            <div class="table">
                <div class="table__title">Карточка модели: QC490</div>
                <div class="table__body">
                    <div class="table__box">
                        <div class="table__row table__head">
                            <div class="table__col">Параметр</div>
                            <div class="table__col">[MU] eq</div>
                            <div class="table__col">Значение</div>
                        </div>
                        <div class="table__row">
                            <div class="table__col">Тип</div>
                            <div class="table__col">мм</div>
                            <div class="table__col">90</div>
                        </div>
                        <div class="table__row">
                            <div class="table__col">Номинальная мощность</div>
                            <div class="table__col">кВт</div>
                            <div class="table__col">42</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="table__title">Основные технические характеристики дизельного двигателя</div>
                <div class="table__body">
                    <div class="table__box">
                        <div class="table__row table__head">
                            <div class="table__col">Параметр</div>
                            <div class="table__col">[MU] eq</div>
                            <div class="table__col">Значение</div>
                        </div>
                        <div class="table__row">
                            <div class="table__col">Зазор замка второго компрессионного и маслосъемного колец</div>
                            <div class="table__col">мм</div>
                            <div class="table__col">90</div>
                        </div>
                        <div class="table__row">
                            <div class="table__col">Номинальная мощность</div>
                            <div class="table__col">кВт</div>
                            <div class="table__col">42</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="table__title">Лимит износа основных деталей</div>
                <div class="table__content">
                    <h2>CUNC - экстремальный минимум для программиста, с элементами джазовой импровизации</h2>
                    <p>45 Unix - краткая история, принципы (все есть файл, дерево каталогов, пользователи, процессы, fork/exec, tty, sh, /bin/*, /etc/*)</p>
                    <p>45 Console - shell (sh,csh,ash,bash), переменные окружения (PATH, TERM, EDITOR, PAGER, MM_CHARSET, LANG), stdin, stdout, stderr, конвееры (pipes), команды: pwd, ls, cp, mv, cat, man, vi</p>
                    <p>45 Networks - <b>Модели OSI и DoD, IPv4</b> - адрес, маска сети, ICMP, UDP, TCP, заголовок пакета IP, Ethernet, ARP, команды: ifconfig, ping, arp, traceroute, telnet, route, netstat -r, nslookup (dig,host) файлы: /etc/hosts, /etc/resolv.conf, /etc/protocols подсматривание трафика через /dev/bpf: tcpdump, tcpflow, trafshow</p>
                    <h2>CUNC - экстремальный минимум для программиста, с элементами джазовой импровизации</h2>
                    <ul>
                        <li>Почему BSD? (действительно, эту практику можно делать на любом Linux или *BSD, minix, Solaris [добавить по вкусу преподавателя])</li>
                        <li>Установка FreeBSD в виртуальную машину (разбиение дисков, загрузка в singleuser mode, fsck, mount, замена пароля root при потере)</li>
                        <li>Добавление <mark>и удаление пользователей и групп, vipw</mark> (и работа с редактором vi), /etc/passwd, /etc/group и т.п.</li>
                        <li>Дерево исходных текстов (где и что лежит)</li>
                        <li>Дерево портов и установка пакетов (где, что и как)</li>
                        <li>Изменение, перекомпиляция и установка какой-нибудь утилиты, например /usr/src/bin/echo</li>
                        <li>Пересборка ядра и мира (buildkernel, buildworld)</li>
                        <li>Файлы, <i>hard∧soft links, crunch и директория</i> /rescue</li>
                        <li>Права доступа к файлу, ugo+rwx, stickybit,chmod, chown, простейший скрипт на sh</li>
                        <li>Параметры загрузки /etc/rc.conf, скрипты /etc/rc.d</li>
                        <li><a href="">Базовая настройка сети, ifconfig, route, netstat,</a> /etc/hosts, /etc/resolv.conf, ping, telnet, traceroute, nslookup (host, dig)</li>
                    </ul>
                    <h2>CUNC - экстремальный минимум для программиста, с элементами джазовой импровизации</h2>
                    <p>45 Console - shell (sh,csh,ash,bash), переменные окружения (PATH, TERM, EDITOR, PAGER, MM_CHARSET, LANG), stdin, stdout, stderr, конвееры (pipes), команды: pwd, ls, cp, mv, cat, man, vi</p>
                    <h3>CUNC - экстремальный минимум для программиста, с элементами джазовой импровизации</h3>
                    <p><i>45 Networks - Модели OSI и DoD, IPv4 - адрес, маска сети, ICMP, UDP, TCP, заголовок пакета IP, Ethernet, ARP, команды: ifconfig, ping, arp, traceroute, telnet, route, netstat -r, nslookup (dig,host) файлы: /etc/hosts, /etc/resolv.conf, /etc/protocols подсматривание трафика через /dev/bpf: tcpdump, tcpflow, trafshow</i></p>
                </div>
            </div>
        </div>
    </div>
</div>