<div class="container">
    <div class="manual">
        <div class="manual__header">
            <div class="manual__media"><img src="../media/manual/product.jpg" alt=""></div>
            <div class="manual__title"><span>Модель</span> <span>QC380</span></div>
            <ul class="manual__header-list">
                <li><span>SN</span>	<span>201245639</span></li>
                <li><span>Произведено</span> <span>01.02.2021</span></li>
                <li><span>Продано</span> <span>06.04.2021</span></li>
                <li><span>Отгружено</span> <span>08.04.2021</span></li>
                <li><span>Договор</span> <span>036 от</span></li>
                <li><span>Начало гарантии</span> <span>07.04.2021</span></li>
                <li><span>Окончание гарантии</span>	<span>07.04.2021</span></li>
                <li><span>Комментарии</span></li>
            </ul>
        </div>
        <div class="manual__body">
            <div class="manual__body-item">
                <table>
                    
                </table>
            </div>
        </div>
    </div>
</div>