<div class="container">
    <div class="manual">
        <div class="manual__header">
            <div class="manual__media">
                <img src="../media/manual/dvig.png" alt="">
            </div>
            <div class="manual__header-info">
                <table class="table">
                    <caption>Модель QC380</caption>
                    <tbody>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tabs content">
            <h2 class="tabs__open">Lorem, ipsum dolor.</h2>
            <div class="tabs__body">
                <div class="table">
                    <table>
                        <tbody>
                            <tr>
                                <th>Параметр</th>
                                <th>[MU] eq</th>
                                <th>Значение</th>
                                <th>Параметр</th>
                                <th>[MU] eq</th>
                                <th>Значение</th>
                            </tr>
                            <tr>
                                <td>Тип</td>
                                <td>мм</td>
                                <td>90</td>
                                <td>Тип</td>
                                <td>мм</td>
                                <td>90</td>
                            </tr>
                            <tr>
                                <td>Тип</td>
                                <td>мм</td>
                                <td>90</td>
                                <td>Тип</td>
                                <td>мм</td>
                                <td>90</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, sit pariatur ex harum temporibus inventore fugiat accusamus modi consequatur debitis veritatis repellendus molestiae nesciunt, incidunt velit culpa odit odio recusandae quia alias eaque! Aut consequatur exercitationem eaque a accusamus quo tempora, expedita porro, sapiente libero fuga placeat voluptatum, odio explicabo! Ducimus totam delectus magni dolorum voluptates, quaerat veniam alias. Quidem eum cum sunt, libero atque necessitatibus cumque placeat non, ut dolor eligendi repudiandae reiciendis excepturi odio sit mollitia aut cupiditate numquam omnis praesentium dolorum molestias accusantium quia veritatis. Explicabo, pariatur. Obcaecati repellat commodi ea nesciunt facere voluptatibus reiciendis numquam quod a eaque, labore quasi qui reprehenderit impedit nisi ratione aut. Deserunt officia nobis voluptatem quae asperiores excepturi necessitatibus illo voluptas accusantium laboriosam, ducimus quisquam recusandae laborum quod. Eius, illum explicabo. Quibusdam porro illum molestiae vero adipisci totam numquam quo perspiciatis provident ratione animi est eaque ex vitae accusamus magni a voluptates, dolor necessitatibus dignissimos! Fugit officia, natus cumque totam voluptatum quos laboriosam explicabo, tempora ex sint qui inventore illo eum nisi soluta. Dolores, facere quaerat! Perferendis corporis rem voluptatibus accusantium, architecto ex magnam adipisci incidunt assumenda, culpa illo eaque numquam quos accusamus enim porro neque molestiae saepe ullam modi iure.</p>
            </div>
        </div>
    </div>
</div>
</div>