<div class="container">
    <div class="manual">
        <div class="manual__header">
            <div class="manual__media">
                <img src="../media/manual/dvig.png" alt="">
            </div>
            <div class="manual__header-info">
                <table class="table table_manual-face">
                    <caption>Модель QC380</caption>
                    <tbody>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                        <tr>
                            <td>Lorem, ipsum dolor.</td>
                            <td>Lorem, ipsum.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <table class="table table_manual-tabs">
            <caption>Модель QC380</caption>
            <tbody>
                <tr>
                    <th>Параметр</th>
                    <th>[MU] eq</th>
                    <th>Значение</th>
                    <th>Параметр</th>
                    <th>[MU] eq</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td>Тип</td>
                    <td>мм</td>
                    <td>90</td>
                    <td>Тип</td>
                    <td>мм</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>Тип</td>
                    <td>мм</td>
                    <td>90</td>
                    <td>Тип</td>
                    <td>мм</td>
                    <td>90</td>
                </tr>
            </tbody>
        </table>
        <table class="table table_manual-tabs content">
            <caption>Модель QC380</caption>
            <tr>
                <td>
                    <h2>CUNC - экстремальный минимум для программиста, с элементами джазовой импровизации</h2>
                    <p>45 Unix - краткая история, принципы (все есть файл, дерево каталогов, пользователи, процессы, fork/exec, tty, sh, /bin/*, /etc/*)</p>
                    <p>45 Console - shell (sh,csh,ash,bash), переменные окружения (PATH, TERM, EDITOR, PAGER, MM_CHARSET, LANG), stdin, stdout, stderr, конвееры (pipes), команды: pwd, ls, cp, mv, cat, man, vi</p>
                    <p>45 Networks - <b>Модели OSI и DoD, IPv4</b> - адрес, маска сети, ICMP, UDP, TCP, заголовок пакета IP, Ethernet, ARP, команды: ifconfig, ping, arp, traceroute, telnet, route, netstat -r, nslookup (dig,host) файлы: /etc/hosts, /etc/resolv.conf, /etc/protocols подсматривание трафика через /dev/bpf: tcpdump, tcpflow, trafshow</p>
                    <h2>CUNC - экстремальный минимум для программиста, с элементами джазовой импровизации</h2>
                    <ul>
                        <li>Почему BSD? (действительно, эту практику можно делать на любом Linux или *BSD, minix, Solaris [добавить по вкусу преподавателя])</li>
                        <li>Установка FreeBSD в виртуальную машину (разбиение дисков, загрузка в singleuser mode, fsck, mount, замена пароля root при потере)</li>
                        <li>Добавление <mark>и удаление пользователей и групп, vipw</mark> (и работа с редактором vi), /etc/passwd, /etc/group и т.п.</li>
                        <li>Дерево исходных текстов (где и что лежит)</li>
                        <li>Дерево портов и установка пакетов (где, что и как)</li>
                        <li>Изменение, перекомпиляция и установка какой-нибудь утилиты, например /usr/src/bin/echo</li>
                        <li>Пересборка ядра и мира (buildkernel, buildworld)</li>
                        <li>Файлы, <i>hard∧soft links, crunch и директория</i> /rescue</li>
                        <li>Права доступа к файлу, ugo+rwx, stickybit,chmod, chown, простейший скрипт на sh</li>
                        <li>Параметры загрузки /etc/rc.conf, скрипты /etc/rc.d</li>
                        <li><a href="">Базовая настройка сети, ifconfig, route, netstat,</a> /etc/hosts, /etc/resolv.conf, ping, telnet, traceroute, nslookup (host, dig)</li>
                    </ul>
                    <h2>CUNC - экстремальный минимум для программиста, с элементами джазовой импровизации</h2>
                    <p>45 Console - shell (sh,csh,ash,bash), переменные окружения (PATH, TERM, EDITOR, PAGER, MM_CHARSET, LANG), stdin, stdout, stderr, конвееры (pipes), команды: pwd, ls, cp, mv, cat, man, vi</p>
                    <h3>CUNC - экстремальный минимум для программиста, с элементами джазовой импровизации</h3>
                    <p><i>45 Networks - Модели OSI и DoD, IPv4 - адрес, маска сети, ICMP, UDP, TCP, заголовок пакета IP, Ethernet, ARP, команды: ifconfig, ping, arp, traceroute, telnet, route, netstat -r, nslookup (dig,host) файлы: /etc/hosts, /etc/resolv.conf, /etc/protocols подсматривание трафика через /dev/bpf: tcpdump, tcpflow, trafshow</i></p>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>