<div class="container">
    <div class="docs">
        <div class="docs__media">
            <div class="docs__media-box">
                <img src="../media/docs/img-1.jpg" alt="">
                <a href="#index1" class="docs__media-point"></a>
                <a href="#index2" class="docs__media-point"></a>
                <a href="#index3" class="docs__media-point"></a>
                <a href="#index4" class="docs__media-point"></a>
                <a href="#index5" class="docs__media-point"></a>
                <a href="#index6" class="docs__media-point"></a>
                <a href="#index7" class="docs__media-point"></a>
                <a href="#index8" class="docs__media-point"></a>
                <a href="#index9" class="docs__media-point"></a>
                <a href="#index10" class="docs__media-point"></a>
                <a href="#index11" class="docs__media-point"></a>
                <a href="#index12" class="docs__media-point"></a>
            </div>
        </div>
        <div class="docs__body">
            <div class="docs__item" id="index1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index7">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index9">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, est.</div>
            <div class="docs__item" id="index10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, officiis.</div>
            <div class="docs__item" id="index11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, officiis.</div>
            <div class="docs__item" id="index12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, officiis.</div>
        </div>
    </div>
</div>
