<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="/" class="header__logo">
                <div class="header__logo-media">
                    <img src="../media/header/logo.gif" alt="Логотип">
                </div>
                <span>qxyz</span>
            </a>
            <nav class="header__nav" id="nav">
                <ul>
                    <li class="introList"><span>QR-code</span>
                        <ul>
                            <li><a href="">QR-Генератор</a></li>
                            <li><a href="">Диапазоны</a></li>
                            <li><a href="">Карта</a></li>
                            <li><a href="">Help!</a></li>
                        </ul>
                    </li>
                    <li class="introList"><span>Участники</span>
                        <ul>
                            <li><a href="">Участники</a></li>
                            <li><a href="">QR-Генератор</a></li>
                            <li><a href="">Диапазоны</a></li>
                            <li><a href="">Карта</a></li>
                            <li class="introList"><span>lorem</span>
                                <ul>
                                    <li><a href="">QR-Генератор</a></li>
                                    <li><a href="">Диапазоны</a></li>
                                    <li><a href="">Карта</a></li>
                                    <li><a href="">Help!</a></li>
                                </ul>
                            </li>
                            <li><a href="">Help!</a></li>
                            <li class="introList"><span>Участники</span>
                                <ul>
                                    <li><a href="">Участники</a></li>
                                    <li><a href="">QR-Генератор</a></li>
                                    <li><a href="">Диапазоны</a></li>
                                    <li><a href="">Карта</a></li>
                                    <li><a href="">Help!</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">QR-Генератор</a></li>
                    <li><a href="">Диапазоны</a></li>
                    <li><a href="">Карта</a></li>
                    <li><a href="">Help!</a></li>
                </ul>
            </nav>
            <div class="header__login"><a href="">Регистрация</a></div>
            <div class="header__burger" id="js-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>