<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="/" class="header__logo">
                <div class="header__logo-media">
                    <img src="../media/header/logo.gif" alt="Логотип">
                </div>
                <span>qxyz</span>
            </a>
            <div class="header__burger" id="js-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="header__nav" id="nav">
                <ul class="header__ul">
                    <li class="header__ul-item">
                        <span class="header__ul-link arrow">QR-code</span>
                        <ul class="header__ul-intro">
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">Участники</a>
                            </li>
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">QR-Генератор</a>
                            </li>
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">Диапазоны</a>
                            </li>
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">Карта</a>
                            </li>
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">Help!</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__ul-item">
                        <span class="header__ul-link arrow">Участники</span>
                        <ul class="header__ul-intro">
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">Участники</a>
                            </li>
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">QR-Генератор</a>
                            </li>
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">Диапазоны</a>
                            </li>
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">Карта</a>
                            </li>
                            <li class="header__ul-item">
                                <a href="#" class="header__ul-link">Help!</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__ul-item">
                        <a href="#" class="header__ul-link active">QR-Генератор</a>
                    </li>
                    <li class="header__ul-item">
                        <a href="#" class="header__ul-link">Диапазоны</a>
                    </li>
                    <li class="header__ul-item">
                        <a href="#" class="header__ul-link">Карта</a>
                    </li>
                    <li class="header__ul-item">
                        <a href="#" class="header__ul-link">Help!</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>