<!----------------------------------------- НАЧАЛО БЛОКА CTUIH----------------------------------------->
<div class="CTUIH">
    <div class="container">
        <div class="CTUIH_header__body" id="CTUIH_header">
            <a href="/" class="CTUIH_header__logo" id="CTUIH_logo">
                <div class="CTUIH_header__logomedia">
                    <img src="../media/header/logo.gif" alt="Логотип">
                </div>
                <span>qxyz</span>
            </a>
            <div class="language">
                <p>RU</p>
                <div class="language__all">
                    <div>RO</div>
                    <div>EN</div>
                    <div>ESP</div>
                </div>
            </div>
            <div class="CTUIH_header__burger" id="CTUIH_header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------- КОНЕЦ БЛОКА CTUIH----------------------------------------->