<!----------------------------------------- НАЧАЛО БЛОКА CTUIH----------------------------------------->
<div class="CTUIH">
    <div class="container">
        <div class="CTUIH_header__body">
            <a href="/" class="CTUIH_header__logo">
                <div class="CTUIH_header__logomedia">
                    <img src="../media/header/logo.gif" alt="Логотип">
                </div>
                <span>qxyz</span>
            </a>
            <!----------------------------------------- НАЧАЛО СПИСКА МЕНЮ----------------------------------------->
            <nav class="CTUIH_header__nav" id="nav__dropdown">
                <ul>
                    <li class="CTUIH__navDropDown"><span>QR-code</span>
                        <ul>
                            <li><a href="">QR-Генератор</a></li>
                            <li><a href="">Диапазоны</a></li>
                            <li><a href="">Карта</a></li>
                            <li><a href="">Help!</a></li>
                        </ul>
                    </li>
                    <li class="CTUIH__navDropDown"><span>Участники</span>
                        <ul>
                            <li><a href="">Участники</a></li>
                            <li><a href="">QR-Генератор</a></li>
                            <li><a href="">Диапазоны</a></li>
                            <li><a href="">Карта</a></li>
                            <li class="CTUIH__navDropDown"><span>lorem</span>
                                <ul>
                                    <li><a href="">QR-Генератор</a></li>
                                    <li><a href="">Диапазоны</a></li>
                                    <li><a href="">Карта</a></li>
                                    <li><a href="">Help!</a></li>
                                </ul>
                            </li>
                            <li><a href="">Help!</a></li>
                            <li class="CTUIH__navDropDown"><span>Участники</span>
                                <ul>
                                    <li><a href="">Участники</a></li>
                                    <li><a href="">QR-Генератор</a></li>
                                    <li><a href="">Диапазоны</a></li>
                                    <li><a href="">Карта</a></li>
                                    <li><a href="">Help!</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">QR-Генератор</a></li>
                    <li><a href="">Диапазоны</a></li>
                    <li><a href="">Карта</a></li>
                    <li><a href="">Help!</a></li>
                    <li><a class="CTUIH_header__login" href="">Регистрация</a></li>
                </ul>
            </nav>
            <!----------------------------------------- НАЧАЛО СПИСКА МЕНЮ----------------------------------------->
            <div class="CTUIH_header__burger" id="CTUIH_header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------- КОНЕЦ БЛОКА CTUIH----------------------------------------->