<div class="info">
    <a href="/content.html" class="info__btn">Характеристики</a>
    <a href="/content.html" class="info__btn">Обслуживание</a>
    <a href="/content.html" class="info__btn">Ремонт</a>
</div>