<div class="info">
    <a href="/template/content.html" class="info__btn">Характеристики</a>
    <a href="/template/form.html" class="info__btn">Обслуживание</a>
    <a href="#" id="register-open" class="info__btn">Открыть форму регистрации</a>
    <a href="/template/home.html" class="info__btn">Главная страница qxyz</a>
    <div class="logIn" id="register">
        <form action="POST" class="logIn__form">
            <div class="logIn__close" id="register-close">
                <span></span>
                <span></span>
            </div>
            <h3 class="logIn__title">Регистрация</h3>
            <label class="logIn__label error">
                <span class="logIn__name">Введите ваше имя</span>
                <input class="logIn__field" type="text">
                <p class="messageError">Введите корректное имя...</p>
            </label>
            <label class="logIn__label success">
                <span class="logIn__name" class="logIn__name">Введите вашу почту</span>
                <input class="logIn__field" type="text">
                <p class="messageError">Такой почты не существует...</p>
            </label>
            <label class="logIn__label">
                <span class="logIn__name">Форма участия</span>
                <select class="logIn__field">
                    <option value="P">Очно</option>
                    <option value="PD">Очно, прочитаю доклад</option>
                    <option value="T">Дистанционно (трансляцию)</option>
                    <option value="PT">Дистанционно и очно</option>
                    <option value="R"> Посмотрю запись после</option>
                </select>
                <p class="messageError">Выберите форму участия...</p>
            </label>
            <label class="logIn__label">
                <span class="logIn__name">Напишите нам</span>
                <textarea class="logIn__field"></textarea>
                <p class="messageError">Выберите форму участия...</p>
            </label>
            <label class="logIn__label">
                <input class="logIn__field" type="checkbox">
                <span>Я согласен с условиями обработки персональных данных</span>
                <p class="messageError">Выберите форму участия...</p>
            </label>
            <button class="logIn__btn" type="submit">Зарегистрироваться</button>
            <a href="#">Войти</a>
        </form>
    </div>
</div>