
.CTUIH {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #efefef;
    border-bottom: 1px solid #dedede;
}

.CTUIH_header__body {
    text-align: right;
}

.CTUIH_header__logo {
    float: left;
    text-decoration: none;

    & span {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        vertical-align: middle;
    }

    img {
        height: 34px;
    }
}

.CTUIH_header__logomedia {
    display: inline-block;
    max-width: 50px;
    padding-right: 15px;
    margin-right: 12px;
    border-right: 1px solid #dedede;
}

.CTUIH_header__burger {
    display: none;
}

.CTUIH_header__login {
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #519ddc;
    color: #fff !important;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;

    &:hover {
        background-color: #4092d6 !important;
    }

    & a {
        text-decoration: none;
    }
}

.CTUIH_header__nav {
    display: inline-block;
    vertical-align: middle;

    & li {
        display: block;
        position: relative;
        list-style-type: none;
        vertical-align: top;

        &:hover {
            & > ul {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    & a,
    & span {
        display: block;
        text-decoration: none;
        color: #464646;
        cursor: pointer;

        &:hover {
            color: #000;
            background-color: #f7f7f7;
        }
    }

    & > ul {
        & > li {
            display: inline-block;

            & > a,
            & > span {
                font-size: 14px;
                padding: 5px 10px;
            }

            & > span {
                position: relative;
                cursor: default;
                padding-right: 25px;

                &::before {
                    position: absolute;
                    top: 9px;
                    right: 12px;
                    width: 5px;
                    height: 9px;
                    content: "";
                    transform: rotate(-90deg);
                    background-image: url("../media/header/arrow.png");
                }
            }

            & ul {
                position: absolute;
                z-index: 5;
                top: -1px;
                right: 100%;
                visibility: hidden;
                opacity: 0;
                background-color: #fff;
                border: 1px solid #dedede;
                transition: 0.6s opacity;

                & li {
                    & > a,
                    & > span {
                        font-size: 14px;
                        padding: 7px 25px;
                        text-align: right;
                        color: #828282;
                        white-space: nowrap;
                        text-align: left;

                        &:hover {
                            background-color: #f9f9f9;
                        }
                    }

                    & span {
                        position: relative;
                        cursor: default;

                        &::before {
                            position: absolute;
                            top: 11px;
                            left: 9px;
                            width: 5px;
                            height: 9px;
                            content: "";
                            background-image: url("../media/header/arrow.png");
                        }
                    }
                }
            }

            & > ul {
                min-width: 100%;
                top: 100%;
                left: 50%;
                right: auto;
                transform: translateX(-50%);
            }
        }
    }
}

@media (max-width: 1310px) {
    .CTUIH {
        position: relative;

        & .container {
            max-width: 100% !important;
        }
    }
}

@media (max-width: 1000px) {
    .CTUIH_header__burger {
        position: relative;
        display: block;
        float: right;
        width: 50px;
        height: 34px;
        padding: 6px;
        margin-left: auto;
        cursor: pointer;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            content: '';
        }

        & span {
            position: absolute;
            left: 6px;
            display: block;
            width: calc(100% - 12px);
            height: 2px;
            background-color: #929292;

            &:first-child {
                top: 6px;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                bottom: 6px;
            }
        }

        &.visible {
            justify-content: center;

            & span {
                width: calc(100% - 20px);
                left: 50%;

                &:nth-child(1) {
                    top: 50%;
                    transform: translateX(-50%) rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    top: 50%;
                    bottom: auto;
                    transform: translateX(-50%) rotate(-45deg);
                }
            }
        }
    }

    .CTUIH_header__body {
        min-height: 34px;
    }

    .CTUIH_header__logo {
        margin-right: 0;
        border: 0;
    }

    .CTUIH_header__nav {
        position: absolute;
        right: 0;
        z-index: 10;
        max-height: 400px;
        top: calc(100% + 1px);
        margin-left: 0;
        transition: 0.3s transform;
        transform: translateX(100%);
        overflow: auto;
        background-color: #fff;
        border-left: 1px solid #dedede;
        border-bottom: 1px solid #dedede;

        &.visible {
            transform: translateX(0);
        }

        & ul {
            & li {
                & a,
                & span {
                    padding: 7px 25px 7px 15px;
                    color: #828282;
                }
            }
        }

        & > ul {
            & > li {
                display: block;

                & ul {
                    border: 0;
                    display: none;
                    position: static;
                    transform: translateX(0);

                    & li {
                        margin-left: 15px;
                        border-left: 1px solid #f5f0f0;

                        & a,
                        & span {
                            padding: 7px 15px 7px 15px;
                        }

                        & > span {
                            padding-right: 25px;

                            &::before {
                                top: 9px;
                                left: auto;
                                right: 12px;
                                transform: rotate(-90deg);
                            }
                        }
                    }
                }
            }
        }

        & li {
            &:hover {
                & > ul {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &.open {
                & > ul {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .CTUIH_header__login {
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .CTUIH_header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .CTUIH_header__logo img {
        max-height: 45px;
    }

    .CTUIH_header__login {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .CTUIH_header__logo-media {
        padding-right: 10px;
        margin-right: 10px;
    }
}
