
.square {
    & + & {
        margin-top: 30px;
    }
}

.body-square {
    background-color: #1e2731;
}

.square__title {
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
}

.square__body {
    display: flex;
    flex-wrap: wrap;
    margin: -2.5px;
}

.square__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    margin: 2.5px;
    overflow: hidden;
    background-color: #218ee8;
    border: 2px solid transparent;
    transition: .3s;

    &.gray {
        background-color: #414952;
    }

    &:hover {
        border-color: rgba(255, 255, 255, .6);
    }

    & img {
        max-width: 45%;
        max-height: 45%;
    }
}

.square__description {
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}