.table {
    overflow: auto;

    table {
        width: 100%;
    }

    caption {
        padding: 10px;
        font-weight: 700;
    }

    & th {
        padding: 10px;
        border: 1px solid #f1f1f1;
        background-color: #f1f1f1;
        white-space: nowrap;
    }

    & td {
        padding: 5px;
        border: 1px solid #f1f1f1;
    }
}