<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body class="page">
    <div class="home">
        <div class="home__body">
            <div class="home__title">QXYZ - Locum tuum in universo. Incipit!</div>
            <form class="home__form">
                <label class="home__label">
                    <input class="home__field" type="text" placeholder="Напиши сюда...">
                </label>
                <button class="home__btn" type="submit">Отправить</button>
            </form>
        </div>
    </div>
    <%- include('block/script') %>
</body>

</html>