<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body class="page">
    <%- include('block/header') %>
    <%- include('block/info') %>
    <%- include('block/script') %>
</body>

</html>