<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <div class="page__body">
            <div class="container">
                <div class="content">
                    <h2>Поставщики информации</h2>
                    <p>
                        Здесь будет поисковая форма и результирующая таблица со списком найденных
                        в системе поставщиков информации, их координатах и текущем статусе, а также
                        наличии информации, предоставленной ими для свободного доступа любым пользователям,
                        регламенте взаимодействия и т.п. При количистве участников менее 100, это не
                        первоочередная задача. На данный момент, все участник это
                        <a href="https://en.wikipedia.org/wiki/Early_adopter" target="_">Early Adopter</a>,
                        за что мы им благодарны.
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    <u>код</u>
                                </th>
                                <th>
                                    Название
                                </th>
                                <th>
                                    сайт
                                </th>
                                <th>
                                    телефон
                                </th>
                                <th>
                                    статус
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/members/?m=QR.QXYZ.RU">QR.QXYZ.RU</a></u>
                                </td>
                                <td>
                                    NONE QR.QXYZ.RU
                                </td>
                                <td>
                                    <u><a href="http://qr.qxyz.ru">http://qr.qxyz.ru</a></u>
                                </td>
                                <td>
                                    <u><a href="tel:+7(PUB)PHO-NE-NUM">+7(PUB)PHO-NE-NUM</a></u>
                                </td>
                                <td>
                                    active
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/members/?m=DOMINATOR">DOMINATOR</a></u>
                                </td>
                                <td>
                                    ООО Доминатор
                                </td>
                                <td>
                                    <u><a href="http://dominatorco.ru">http://dominatorco.ru</a></u>
                                </td>
                                <td>
                                    <u><a href="tel:+7(499)408-45-67">+7(499)408-45-67</a></u>
                                </td>
                                <td>
                                    active
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/members/?m=EXAMPLES">EXAMPLES</a></u>
                                </td>
                                <td>
                                    NONE EXAMPLES
                                </td>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/examples/">http://qr.qxyz.ru/examples/</a></u>
                                </td>
                                <td>
                                    <u><a href="tel:+7(PUB)PHO-NE-NUM">+7(PUB)PHO-NE-NUM</a></u>
                                </td>
                                <td>
                                    active
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/members/?m=EUSTROSOFT">EUSTROSOFT</a></u>
                                </td>
                                <td>
                                    OOO EUSTROSOFT
                                </td>
                                <td>
                                    <u><a href="http://eustrosoft.org">http://eustrosoft.org</a></u>
                                </td>
                                <td>
                                    <u><a href="tel:+7(495)0123457">+7(495)0123457</a></u>
                                </td>
                                <td>
                                    active
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/members/?m=EXAMPLESD">EXAMPLESD</a></u>
                                </td>
                                <td>
                                    NONE EXAMPLESD
                                </td>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/examples/">http://qr.qxyz.ru/examples/</a></u>
                                </td>
                                <td>
                                    <u><a href="tel:+7(PUB)PHO-NE-NUM">+7(PUB)PHO-NE-NUM</a></u>
                                </td>
                                <td>
                                    active
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/members/?m=rubmaster.ru">rubmaster.ru</a></u>
                                </td>
                                <td>
                                    SITE rubmaster.ru
                                </td>
                                <td>
                                    <u><a href="http://rubmaster.ru">http://rubmaster.ru</a></u>
                                </td>
                                <td>
                                    <u><a href="tel:+7(PUB)PHO-NE-NUM">+7(PUB)PHO-NE-NUM</a></u>
                                </td>
                                <td>
                                    active
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <u><a href="http://qr.qxyz.ru/members/?m=boatswain.org">boatswain.org</a></u>
                                </td>
                                <td>
                                    SITE boatswain.org
                                </td>
                                <td>
                                    <u><a href="http://boatswain.org">http://boatswain.org</a></u>
                                </td>
                                <td>
                                    <u><a href="tel:+7(PUB)PHO-NE-NUM">+7(PUB)PHO-NE-NUM</a></u>
                                </td>
                                <td>
                                    active
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Здесь</b>
                                </td>
                                <td>
                                    <b>Можете</b>
                                </td>
                                <td>
                                    <b>Быть</b>
                                </td>
                                <td>
                                    <b>Вы</b>
                                </td>
                                <td>
                                    <b><u><a href="http://qr.qxyz.ru/members/become/" title="Следуйте за Белым Кроликом или просто нажмите здесь">Подключить</a></u></b>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul>
                        <li> Сейчас эта таблица строится автоматически, из БД участников системы, имеющий статус active (активный)
                        </li>
                        <li> Далее, по каждой строчке можно будет перейти в карточку участника, за подробной информацией
                        </li>
                        <li> здесь показаны не все поля и колонки, часть из них конфиденциальна.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>