<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
	<div class="page">
		<%- include('block/header') %>
		<div class="page__body">
			<div class="container">
				<div class="qrcode">
					<div class="qrcode__title">Генератор qrcode</div>
					<form class="qrcode__form">
						<div class="qrcode__menu">
							<div class="qrcode__menu-item active" data-items="qr1">Текст</div>
							<div class="qrcode__menu-item" data-items="qr2">Url</div>
							<div class="qrcode__menu-item" data-items="qr3">Визитка</div>
							<div class="qrcode__menu-item" data-items="qr4">Sms</div>
							<div class="qrcode__menu-item" data-items="qr5">Еще что-то</div>
						</div>
						<div class="qrcode__body">
							<div class="qrcode__body-item visible">
								<label class="qrcode__label">
									<p>Введите текст</p>
									<textarea name="qr1-text" class="qrcode__textarea"></textarea>
								</label>
							</div>
							<div class="qrcode__body-item">
								<label class="qrcode__label">
									<p>Введите url</p>
									<input name="qr2-url" type="text" class="qrcode__field">
								</label>
							</div>
							<div class="qrcode__body-item qrcode__body-item_group">
								<label class="qrcode__label">
									<p>Имя</p>
									<input name="qr3-name" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>Фамилия</p>
									<input name="qr3-surname" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>Телефон</p>
									<input name="qr3-phone" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>E-mail</p>
									<input name="qr3-email" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>Организация</p>
									<input name="qr3-organization" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>Должность</p>
									<input name="qr3-position" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>Адрес</p>
									<input name="qr3-address" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>Сайт</p>
									<input name="qr3-site" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>Заметка</p>
									<input name="qr3-metka" type="text" class="qrcode__field">
								</label>
							</div>
							<div class="qrcode__body-item">
								<label class="qrcode__label">
									<p>Номер телефона</p>
									<input name="qr4-phone" type="text" class="qrcode__field">
								</label>
								<label class="qrcode__label">
									<p>Текст sms-сообщения</p>
									<textarea name="qr4-sms"  class="qrcode__textarea"></textarea>
								</label>
							</div>
						</div>
						<div class="qrcode__type">
							<label class="qrcode__type-label">
								<p>L</p>
								<input type="radio" name="qr-type" value="L" checked>
							</label>
							<label class="qrcode__type-label">
								<p>M</p>
								<input type="radio" name="qr-type" value="M">
							</label>
							<label class="qrcode__type-label">
								<p>Q</p>
								<input type="radio" name="qr-type" value="Q">
							</label>
							<label class="qrcode__type-label">
								<p>H</p>
								<input type="radio" name="qr-type" value="H">
							</label>
						</div>
						<div class="qrcode__widthImg">
							<label class="qrcode__label">
								<p>Размер картинки</p>
								<input class="qrcode__field" name="qr-widht" type="number">
							</label>
						</div>
						<div class="qrcode__size">
							<label class="qrcode__label">
								<p>Жирность</p>
								<input class="qrcode__field" name="qr-size" type="number" min="0" max="40">
							</label>
						</div>
						<div class="qrcode__btn">
							<button type="submit">Сгенерировать</button>
						</div>
					</form>
					<div class="qrcode__result"></div>
				</div>
				<!-- <div class="test">
					<input type="text" class="test__text" placeholder="тут пишем текст">
					<input type="number" class="test__width" placeholder="ширина и высота qrcode">
					<input type="number" class="test__size" min="0" max="40" placeholder="размер (0-40)">
					<label>
						<p>L</p>
						<input type="radio" name="count" value="L" checked>
					</label>
					<label>
						<p>M</p>
						<input type="radio" name="count" value="M">
					</label>
					<label>
						<p>Q</p>
						<input type="radio" name="count" value="Q">
					</label>
					<label>
						<p>H</p>
						<input type="radio" name="count" value="H">
					</label>
					<div class="test__result"></div>
					<div class="test__git"><a target="_blank" href="https://github.com/kazuhikoarase/qrcode-generator/tree/master/js">Ссылка на скрипт github</a></div>
				</div> -->
			</div>
		</div>
		<%- include('block/footer') %>
	</div>
	<%- include('block/script') %>
</body>

</html>