<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
	<div class="page">
		<%- include('block/header') %>
		<div class="page__body">
			<div class="container">
				<form id="qrcode" class="qrcode">
					<div class="qrcode__nav">
						<label class="active">
							<input type="radio" name="qr_nav" value="qr1">
							<p>Текст:</p>
						</label>
						<label>
							<input type="radio" name="qr_nav" value="qr2">
							<p>URL:</p>
						</label>
						<label>
							<input type="radio" name="qr_nav" value="qr3">
							<p>ВИЗИТКА:</p>
						</label>
						<label>
							<input type="radio" name="qr_nav" value="qr4">
							<p>SMS:</p>
						</label>
					</div>
					<div class="qrcode__body">
						<div class="visible">
							<p>Имя:</p>
							<input type="text" name="qr1_name">
							<p>Сообщение:</p>
							<textarea name="qr1_text"></textarea>
						</div>
						<div>
							<p>Url:</p>
							<input type="text" name="qr2_url">
						</div>
						<div>
							<p>Имя:</p>
							<input type="text" name="qr3_name">
							<p>Фамилия:</p>
							<input type="text" name="qr3_surname">
							<p>Телефон:</p>
							<input type="text" name="qr3_phone">
							<p>E-mail:</p>
							<input type="text" name="qr3_mail">
							<p>Организация:</p>
							<input type="text" name="qr3_organization">
							<p>Должность:</p>
							<input type="text" name="qr3_position">
							<p>Адрес:</p>
							<input type="text" name="qr3_adres">
							<p>Сайт:</p>
							<input type="text" name="qr3_site">
							<p>Заметка:</p>
							<input type="text" name="qr3_metka">
						</div>
						<div>
							<p>Номер телефона:</p>
							<input type="text" name="qr4_phone">
							<p>Текст sms-сообщения:</p>
							<textarea name="qr4_sms"></textarea>
						</div>
					</div>
					<div class="qrcode__settings">
						<div>
							<label class="active">
								<input type="radio" name="qr_type" value="L">
								<p>L</p>
							</label>
							<label>
								<input type="radio" name="qr_type" value="M">
								<p>M</p>
							</label>
							<label>
								<input type="radio" name="qr_type" value="Q">
								<p>Q</p>
							</label>
							<label>
								<input type="radio" name="qr_type" value="H">
								<p>H</p>
							</label>
						</div>
						<p>Размер картинки:</p>
						<input type="text" name="qr_size">
						<p>Жирность:</p>
						<input type="text" name="qr_weight">
					</div>
					<button type="submit">Сгенерировать</button>
				</form>
				
			</div>
		</div>
		<%- include('block/footer') %>
	</div>
	<%- include('block/script') %>
</body>

</html>