<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
	<div class="page">
		<%- include('block/header') %>
		<div class="page__body">
			<div class="container">
				<form id="qrcode" class="qrcode">
					<div class="qrcode__nav">
						<label class="active">
							<input type="radio" name="qr_nav" value="qr1" checked>
							<p>Форма ручного поиска здесь:</p>
						</label>
						<label>
							<input type="radio" name="qr_nav" value="qr2">
							<p>ТЕКСТ:</p>
						</label>
						<label>
							<input type="radio" name="qr_nav" value="qr3">
							<p>URL:</p>
						</label>
						<label>
							<input type="radio" name="qr_nav" value="qr4">
							<p>ВИЗИТКА:</p>
						</label>
						<label>
							<input type="radio" name="qr_nav" value="qr5">
							<p>SMS:</p>
						</label>
					</div>
					<div class="qrcode__body">
						<div class="visible">
							<p>Код:</p>
							<input type="text" name="qr1_qr">
							<p>Pin:</p>
							<input type="text" name="qr1_pin">
						</div>
						<div>
							<p>Сообщение:</p>
							<textarea name="qr2_text"></textarea>
						</div>
						<div>
							<p>Url:</p>
							<input type="text" name="qr3_url">
						</div>
						<div>
							<p>Имя:</p>
							<input type="text" name="qr4_name">
							<p>Фамилия:</p>
							<input type="text" name="qr4_surname">
							<p>Телефон:</p>
							<input type="text" name="qr4_phone">
							<p>E-mail:</p>
							<input type="text" name="qr4_mail">
							<p>Организация:</p>
							<input type="text" name="qr4_organization">
							<p>Должность:</p>
							<input type="text" name="qr4_position">
							<p>Адрес:</p>
							<input type="text" name="qr4_adres">
							<p>Сайт:</p>
							<input type="text" name="qr4_site">
							<p>Заметка:</p>
							<input type="text" name="qr4_metka">
						</div>
						<div>
							<p>Номер телефона:</p>
							<input type="text" name="qr5_phone">
							<p>Текст sms-сообщения:</p>
							<textarea name="qr5_sms"></textarea>
						</div>
					</div>
					<div class="qrcode__settings">
						<div>
							<label class="active">
								<input type="radio" name="qr_type" value="L" checked>
								<p>L</p>
							</label>
							<label>
								<input type="radio" name="qr_type" value="M">
								<p>M</p>
							</label>
							<label>
								<input type="radio" name="qr_type" value="Q">
								<p>Q</p>
							</label>
							<label>
								<input type="radio" name="qr_type" value="H">
								<p>H</p>
							</label>
						</div>
						<p>Размер картинки:</p>
						<input type="number" name="qr_size" value="5">
					</div>
					<button type="submit">Сгенерировать</button>
					<div id="qrcode__result"></div>
					<div id="qrcode__info"></div>
				</form>
				
			</div>
		</div>
		<%- include('block/footer') %>
	</div>
	<%- include('block/script') %>
</body>

</html>