<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body class="body-square">
    <div class="page">
        <%- include('block/header') %>
        <div class="page__body">
            <div class="square">
                <div class="square__title">Просмотр</div>
                <div class="square__body">
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                </div>
            </div>
            <div class="square">
                <div class="square__title">Просмотр</div>
                <div class="square__body">
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                </div>
            </div>
            <div class="square">
                <div class="square__title">Просмотр</div>
                <div class="square__body">
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                </div>
            </div>
            <div class="square">
                <div class="square__title">Просмотр</div>
                <div class="square__body">
                    <div class="square__item">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                </div>
            </div>
            <div class="square">
                <div class="square__title">Производительность</div>
                <div class="square__body">
                    <div class="square__item gray">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item gray">
                        <img src="../media/tigr.png">
                        <div class="square__description">Развлечения</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/arc-de-triomphe.png">
                        <div class="square__description">Фотографии</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/tasks.png">
                        <div class="square__description">To Do</div>
                    </div>
                    <div class="square__item">
                        <img src="../media/usa.png">
                        <div class="square__description">Ваш телефон</div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>