.CTUIH {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #efefef;
  border-bottom: 1px solid #dedede; }

.CTUIH_header__body {
  text-align: right; }

.CTUIH_header__logo {
  float: left;
  text-decoration: none; }
  .CTUIH_header__logo span {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    vertical-align: middle; }
  .CTUIH_header__logo img {
    height: 34px; }

.CTUIH_header__logomedia {
  display: inline-block;
  max-width: 50px;
  padding-right: 15px;
  margin-right: 12px;
  border-right: 1px solid #dedede; }

.CTUIH_header__burger {
  display: none; }

.CTUIH_header__login {
  padding: 5px 15px;
  border-radius: 3px;
  background-color: #519ddc;
  color: #fff !important;
  margin-left: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center; }
  .CTUIH_header__login:hover {
    background-color: #4092d6 !important; }
  .CTUIH_header__login a {
    text-decoration: none; }

.CTUIH_header__nav {
  display: inline-block;
  vertical-align: middle; }
  .CTUIH_header__nav li {
    display: block;
    position: relative;
    list-style-type: none;
    vertical-align: top; }
    .CTUIH_header__nav li:hover > ul {
      visibility: visible;
      opacity: 1; }
  .CTUIH_header__nav a,
  .CTUIH_header__nav span {
    display: block;
    text-decoration: none;
    color: #464646;
    cursor: pointer; }
    .CTUIH_header__nav a:hover,
    .CTUIH_header__nav span:hover {
      color: #000;
      background-color: #f7f7f7; }
  .CTUIH_header__nav > ul > li {
    display: inline-block; }
    .CTUIH_header__nav > ul > li > a,
    .CTUIH_header__nav > ul > li > span {
      font-size: 14px;
      padding: 5px 10px; }
    .CTUIH_header__nav > ul > li > span {
      position: relative;
      cursor: default;
      padding-right: 25px; }
      .CTUIH_header__nav > ul > li > span::before {
        position: absolute;
        top: 9px;
        right: 12px;
        width: 5px;
        height: 9px;
        content: "";
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        background-image: url("../media/header/arrow.png"); }
    .CTUIH_header__nav > ul > li ul {
      position: absolute;
      z-index: 5;
      top: -1px;
      right: 100%;
      visibility: hidden;
      opacity: 0;
      background-color: #fff;
      border: 1px solid #dedede;
      -webkit-transition: 0.6s opacity;
      -o-transition: 0.6s opacity;
      transition: 0.6s opacity; }
      .CTUIH_header__nav > ul > li ul li > a,
      .CTUIH_header__nav > ul > li ul li > span {
        font-size: 14px;
        padding: 7px 25px;
        text-align: right;
        color: #828282;
        white-space: nowrap;
        text-align: left; }
        .CTUIH_header__nav > ul > li ul li > a:hover,
        .CTUIH_header__nav > ul > li ul li > span:hover {
          background-color: #f9f9f9; }
      .CTUIH_header__nav > ul > li ul li span {
        position: relative;
        cursor: default; }
        .CTUIH_header__nav > ul > li ul li span::before {
          position: absolute;
          top: 11px;
          left: 9px;
          width: 5px;
          height: 9px;
          content: "";
          background-image: url("../media/header/arrow.png"); }
    .CTUIH_header__nav > ul > li > ul {
      min-width: 100%;
      top: 100%;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

@media (max-width: 1310px) {
  .CTUIH {
    position: relative; }
    .CTUIH .container {
      max-width: 100% !important; } }

@media (max-width: 1000px) {
  .CTUIH_header__burger {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 34px;
    padding: 6px;
    margin-left: auto;
    cursor: pointer; }
    .CTUIH_header__burger::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      content: ''; }
    .CTUIH_header__burger span {
      position: absolute;
      left: 6px;
      display: block;
      width: calc(100% - 12px);
      height: 2px;
      background-color: #929292; }
      .CTUIH_header__burger span:first-child {
        top: 6px; }
      .CTUIH_header__burger span:nth-child(2) {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .CTUIH_header__burger span:last-child {
        bottom: 6px; }
    .CTUIH_header__burger.visible {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .CTUIH_header__burger.visible span {
        width: calc(100% - 20px);
        left: 50%; }
        .CTUIH_header__burger.visible span:nth-child(1) {
          top: 50%;
          -webkit-transform: translateX(-50%) rotate(45deg);
          -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg); }
        .CTUIH_header__burger.visible span:nth-child(2) {
          display: none; }
        .CTUIH_header__burger.visible span:nth-child(3) {
          top: 50%;
          bottom: auto;
          -webkit-transform: translateX(-50%) rotate(-45deg);
          -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg); }
  .CTUIH_header__body {
    min-height: 34px; }
  .CTUIH_header__logo {
    margin-right: 0;
    border: 0; }
  .CTUIH_header__nav {
    position: absolute;
    right: 0;
    z-index: 10;
    max-height: 400px;
    top: calc(100% + 1px);
    margin-left: 0;
    -webkit-transition: 0.3s -webkit-transform;
    transition: 0.3s -webkit-transform;
    -o-transition: 0.3s transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    overflow: auto;
    background-color: #fff;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede; }
    .CTUIH_header__nav.visible {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .CTUIH_header__nav ul li a,
    .CTUIH_header__nav ul li span {
      padding: 7px 25px 7px 15px;
      color: #828282; }
    .CTUIH_header__nav > ul > li {
      display: block; }
      .CTUIH_header__nav > ul > li ul {
        border: 0;
        display: none;
        position: static;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
        .CTUIH_header__nav > ul > li ul li {
          margin-left: 15px;
          border-left: 1px solid #f5f0f0; }
          .CTUIH_header__nav > ul > li ul li a,
          .CTUIH_header__nav > ul > li ul li span {
            padding: 7px 15px 7px 15px; }
          .CTUIH_header__nav > ul > li ul li > span {
            padding-right: 25px; }
            .CTUIH_header__nav > ul > li ul li > span::before {
              top: 9px;
              left: auto;
              right: 12px;
              -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .CTUIH_header__nav li:hover > ul {
      visibility: hidden;
      opacity: 0; }
    .CTUIH_header__nav li.open > ul {
      display: block;
      visibility: visible;
      opacity: 1; }
  .CTUIH_header__login {
    margin: 5px; } }

@media (max-width: 480px) {
  .CTUIH_header {
    padding-top: 10px;
    padding-bottom: 10px; }
  .CTUIH_header__logo img {
    max-height: 45px; }
  .CTUIH_header__login {
    font-size: 14px; } }

@media (max-width: 360px) {
  .CTUIH_header__logo-media {
    padding-right: 10px;
    margin-right: 10px; } }
